# PyCity Schools Analysis: strategic decisions regarding future school budgets and priorities

### Two observable trends based on the data ###
  
--Trend 1

--Trend 1
-- Change so I can commit and push

In [85]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
display(school_data)
#type(school_data_complete)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

In [2]:
# Calculate the total number of unique schools.  
# Should be 15.
school_count = school_data_complete['school_name'].nunique()
print('Total number of unique schools:')
print(school_count)

Total number of unique schools:
15

In [3]:
# Calculate the total number of students.  
# Should be 39,170.
student_count = school_data_complete['Student ID'].nunique()
print('Total number of students:')
student_count = f'{student_count:,}'
print(student_count)

Total number of students:
39,170

In [4]:
# Calculate the total budget.  
# Should be 24,649,428.
unique_school_budget_df = school_data_complete[['school_name', 'budget']].drop_duplicates()
total_budget = unique_school_budget_df['budget'].sum()
print('Total budget:')
total_budget = f'${total_budget:,}'
print(total_budget)

Total budget:
$24,649,428

In [5]:
# Calculate the average (mean) math score.  
# Should be 78.98537145774827 (78.99 rounded)
average_math_score = school_data_complete['math_score'].mean()
print('Average (mean) math score (rounded two decimal places):')
average_math_score = round(average_math_score, 2)
average_math_score

Average (mean) math score (rounded two decimal places):

78.99

In [6]:
# Calculate the average (mean) reading score.  
# Should be 81.87784018381414 (81.88 rounded)
average_reading_score = school_data_complete['reading_score'].mean()
print('Average (mean) reading score (rounded two decimal places):')
average_reading_score = round(average_reading_score, 2)
average_reading_score

Average (mean) reading score (rounded two decimal places):

81.88

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
student_count = school_data_complete['Student ID'].nunique()
print('Percentage of students who passed math (rounded):')
passing_math_count = float(school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"])
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage = round(passing_math_percentage, 2)
passing_math_percentage = str(passing_math_percentage) + '%'
passing_math_percentage

Percentage of students who passed math (rounded):

'74.98%'

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage = round(passing_reading_percentage, 2)
passing_reading_percentage = str(passing_reading_percentage) + '%'
print(f'The passing reading percentage is: {passing_reading_percentage}')

The passing reading percentage is: 85.81%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading 65.17232575950983
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate = round(overall_passing_rate, 2)
overall_passing_rate = str(overall_passing_rate) + '%'
print(f'Percentage of students that passed math and reading: {overall_passing_rate}')

Percentage of students that passed math and reading: 65.17%

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
lst_metrics = [school_count, student_count, total_budget, average_math_score, average_reading_score, passing_math_percentage, passing_reading_percentage, overall_passing_rate]

district_summary = pd.DataFrame([lst_metrics], columns=['school_count', 'student_count', 'total_budget', 'average_math_score', 'average_reading_score', 'passing_math_percentage', 'passing_reading_percentage', 'overall_passing_rate'])

# Formatting
district_summary['student_count'] = district_summary['student_count'].astype(int).map("{:,}".format)
# Formatting - I did this in earlier cells.
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
display(district_summary)

,school_count,student_count,total_budget,average_math_score,average_reading_score,passing_math_percentage,passing_reading_percentage,overall_passing_rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [26]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [40]:
# Calculate the total student count per school from school_data

# Group by 'school_name' and calculate the total student count for each school
total_students_per_school = school_data_complete.groupby('school_name')['size'].count()

# Convert the result to a DataFrame for better presentation
per_school_counts = pd.DataFrame({'Total Students (count of rows)': total_students_per_school}).reset_index()

# Display the DataFrame
print(per_school_counts)
# Assuming per_school_budget is your DataFrame with 'size' and 'budget' columns
#per_school_counts['budget_per_capita'] = per_school_counts['budget'] / per_school_counts['size']

              school_name  Total Students (count of rows)
0      Bailey High School                            4976
1     Cabrera High School                            1858
2    Figueroa High School                            2949
3        Ford High School                            2739
4     Griffin High School                            1468
5   Hernandez High School                            4635
6      Holden High School                             427
7       Huang High School                            2917
8     Johnson High School                            4761
9        Pena High School                             962
10  Rodriguez High School                            3999
11    Shelton High School                            1761
12     Thomas High School                            1635
13     Wilson High School                            2283
14     Wright High School                            1800

# Bookmark #

In [97]:

# Calculate the total school budget and per capita spending per school from school_data
#school_data['budget_per_capita'] = school_data['budget'] / school_data_complete['size']
per_school_budget = school_data[['school_name', 'budget']].copy()
per_school_capita = school_data[['school_name', 'budget_per_capita']].copy()
per_school_combined = school_data[['school_name', 'budget', 'budget_per_capita']].copy()
display(per_school_combined)
#display(per_school_budget)
#display(per_school_capita)
#display(school_data)
#type(school_data)

              school_name   budget  budget_per_capita
0       Huang High School  1910635         655.000000
1    Figueroa High School  1884411         646.009942
2     Shelton High School  1056600         362.221460
3   Hernandez High School  3022020        1036.002743
4     Griffin High School   917500         314.535482
5      Wilson High School  1319574         452.373672
6     Cabrera High School  1081356         370.708262
7      Bailey High School  3124928        1071.281454
8      Holden High School   248087          85.048680
9        Pena High School   585858         200.842647
10     Wright High School  1049400         359.753171
11  Rodriguez High School  2547363         873.281796
12    Johnson High School  3094650        1060.901611
13       Ford High School  1763916         604.702091
14     Thomas High School  1043130         357.603702

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
result_df = pd.merge(per_school_math, per_school_reading, on='school_name')
display(result_df)

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
#students_passing_math =
#school_students_passing_math =
#school_data_complete

# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').count()['student_name'].reset_index()
students_passing_math.rename(columns={'student_name': 'students_passing_math'}, inplace=True)

# Print the result DataFrame
print(students_passing_math)

              school_name  students_passing_math
0      Bailey High School                   3318
1     Cabrera High School                   1749
2    Figueroa High School                   1946
3        Ford High School                   1871
4     Griffin High School                   1371
5   Hernandez High School                   3094
6      Holden High School                    395
7       Huang High School                   1916
8     Johnson High School                   3145
9        Pena High School                    910
10  Rodriguez High School                   2654
11    Shelton High School                   1653
12     Thomas High School                   1525
13     Wilson High School                   2143
14     Wright High School                   1680

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading =
school_students_passing_reading =

SyntaxError: invalid syntax (758574725.py, line 2)

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary