# PyCity Schools Analysis: strategic decisions regarding future school budgets and priorities

### Two observable trends based on the data ###
  
--Trend 1

--Trend 2

In [388]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
#type(school_data_complete)
#df_school_list = pd.DataFrame(school_data_complete['school_name'])

#df = pd.DataFrame(data_list, columns=['Column_Name'])
df_school_list = school_data[['school_name']]
display(df_school_list)

              school_name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

## District Summary

In [2]:
# Calculate the total number of unique schools.  
# Should be 15.
school_count = school_data_complete['school_name'].nunique()
print('Total number of unique schools:')
print(school_count)

Total number of unique schools:
15

In [3]:
# Calculate the total number of students.  
# Should be 39,170.
student_count = school_data_complete['Student ID'].nunique()
print('Total number of students:')
student_count = f'{student_count:,}'
print(student_count)

Total number of students:
39,170

In [4]:
# Calculate the total budget.  
# Should be 24,649,428.
unique_school_budget_df = school_data_complete[['school_name', 'budget']].drop_duplicates()
total_budget = unique_school_budget_df['budget'].sum()
print('Total budget:')
total_budget = f'${total_budget:,}'
print(total_budget)

Total budget:
$24,649,428

In [5]:
# Calculate the average (mean) math score.  
# Should be 78.98537145774827 (78.99 rounded)
average_math_score = school_data_complete['math_score'].mean()
print('Average (mean) math score (rounded two decimal places):')
average_math_score = round(average_math_score, 2)
average_math_score

Average (mean) math score (rounded two decimal places):

78.99

In [6]:
# Calculate the average (mean) reading score.  
# Should be 81.87784018381414 (81.88 rounded)
average_reading_score = school_data_complete['reading_score'].mean()
print('Average (mean) reading score (rounded two decimal places):')
average_reading_score = round(average_reading_score, 2)
average_reading_score

Average (mean) reading score (rounded two decimal places):

81.88

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
student_count = school_data_complete['Student ID'].nunique()
print('Percentage of students who passed math (rounded):')
passing_math_count = float(school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"])
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage = round(passing_math_percentage, 2)
passing_math_percentage = str(passing_math_percentage) + '%'
passing_math_percentage

Percentage of students who passed math (rounded):

'74.98%'

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage = round(passing_reading_percentage, 2)
passing_reading_percentage = str(passing_reading_percentage) + '%'
print(f'The passing reading percentage is: {passing_reading_percentage}')

The passing reading percentage is: 85.81%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading 65.17232575950983
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate = round(overall_passing_rate, 2)
overall_passing_rate = str(overall_passing_rate) + '%'
print(f'Percentage of students that passed math and reading: {overall_passing_rate}')

Percentage of students that passed math and reading: 65.17%

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
lst_metrics = [school_count, student_count, total_budget, average_math_score, average_reading_score, passing_math_percentage, passing_reading_percentage, overall_passing_rate]

district_summary = pd.DataFrame([lst_metrics], columns=['school_count', 'student_count', 'total_budget', 'average_math_score', 'average_reading_score', 'passing_math_percentage', 'passing_reading_percentage', 'overall_passing_rate'])

# Formatting
district_summary['student_count'] = district_summary['student_count'].astype(int).map("{:,}".format)
# Formatting - I did this in earlier cells.
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
display(district_summary)

,school_count,student_count,total_budget,average_math_score,average_reading_score,passing_math_percentage,passing_reading_percentage,overall_passing_rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [26]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [126]:
# Calculate the total student count per school from school_data

# Group by 'school_name' and calculate the total student count for each school
total_students_per_school = school_data_complete.groupby('school_name')['size'].count()

# Convert the result to a DataFrame for better presentation
per_school_counts = pd.DataFrame({'Total_Students': total_students_per_school}).reset_index()

# Display the DataFrame
print(per_school_counts)
# Assuming per_school_budget is your DataFrame with 'size' and 'budget' columns
#per_school_counts['budget_per_capita'] = per_school_counts['budget'] / per_school_counts['size']

              school_name  Total_Students
0      Bailey High School            4976
1     Cabrera High School            1858
2    Figueroa High School            2949
3        Ford High School            2739
4     Griffin High School            1468
5   Hernandez High School            4635
6      Holden High School             427
7       Huang High School            2917
8     Johnson High School            4761
9        Pena High School             962
10  Rodriguez High School            3999
11    Shelton High School            1761
12     Thomas High School            1635
13     Wilson High School            2283
14     Wright High School            1800

In [97]:

# Calculate the total school budget and per capita spending per school from school_data
#school_data['budget_per_capita'] = school_data['budget'] / school_data_complete['size']
per_school_budget = school_data[['school_name', 'budget']].copy()
per_school_capita = school_data[['school_name', 'budget_per_capita']].copy()
per_school_combined = school_data[['school_name', 'budget', 'budget_per_capita']].copy()
display(per_school_combined)
#display(per_school_budget)
#display(per_school_capita)
#display(school_data)
#type(school_data)

              school_name   budget  budget_per_capita
0       Huang High School  1910635         655.000000
1    Figueroa High School  1884411         646.009942
2     Shelton High School  1056600         362.221460
3   Hernandez High School  3022020        1036.002743
4     Griffin High School   917500         314.535482
5      Wilson High School  1319574         452.373672
6     Cabrera High School  1081356         370.708262
7      Bailey High School  3124928        1071.281454
8      Holden High School   248087          85.048680
9        Pena High School   585858         200.842647
10     Wright High School  1049400         359.753171
11  Rodriguez High School  2547363         873.281796
12    Johnson High School  3094650        1060.901611
13       Ford High School  1763916         604.702091
14     Thomas High School  1043130         357.603702

In [252]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
per_school_math_reading = pd.merge(per_school_math, per_school_reading, on='school_name')
display(per_school_math_reading)

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
#students_passing_math =
#school_students_passing_math =
#school_data_complete

# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').count()['student_name'].reset_index()
students_passing_math.rename(columns={'student_name': 'students_passing_math'}, inplace=True)

# Print the result DataFrame
print(students_passing_math)

              school_name  students_passing_math
0      Bailey High School                   3318
1     Cabrera High School                   1749
2    Figueroa High School                   1946
3        Ford High School                   1871
4     Griffin High School                   1371
5   Hernandez High School                   3094
6      Holden High School                    395
7       Huang High School                   1916
8     Johnson High School                   3145
9        Pena High School                    910
10  Rodriguez High School                   2654
11    Shelton High School                   1653
12     Thomas High School                   1525
13     Wilson High School                   2143
14     Wright High School                   1680

In [118]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
#students_passing_math =
#school_students_passing_math =
#school_data_complete

# Calculate the number of students per school with math scores of 70 or higher
#students_passing_math
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').count()['student_name'].reset_index()
students_passing_math.rename(columns={'student_name': 'students_passing_math'}, inplace=True)
school_students_passing_math = students_passing_math
# Print the result DataFrame
print(school_students_passing_math)

              school_name  students_passing_math
0      Bailey High School                   3318
1     Cabrera High School                   1749
2    Figueroa High School                   1946
3        Ford High School                   1871
4     Griffin High School                   1371
5   Hernandez High School                   3094
6      Holden High School                    395
7       Huang High School                   1916
8     Johnson High School                   3145
9        Pena High School                    910
10  Rodriguez High School                   2654
11    Shelton High School                   1653
12     Thomas High School                   1525
13     Wilson High School                   2143
14     Wright High School                   1680

In [398]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading  = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name').count()['student_name'].reset_index()
students_passing_reading.rename(columns={'student_name': 'students_passing_reading'}, inplace=True)
school_students_passing_reading = students_passing_reading
cols = ['school_name','% Passing Reading']
school_students_passing_reading.columns = cols
display(school_students_passing_reading)

              school_name  % Passing Reading
0      Bailey High School               4077
1     Cabrera High School               1803
2    Figueroa High School               2381
3        Ford High School               2172
4     Griffin High School               1426
5   Hernandez High School               3748
6      Holden High School                411
7       Huang High School               2372
8     Johnson High School               3867
9        Pena High School                923
10  Rodriguez High School               3208
11    Shelton High School               1688
12     Thomas High School               1591
13     Wilson High School               2204
14     Wright High School               1739

In [305]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

#school_students_passing_math_and_reading = school_students_passing_math_and_reading.to_frame().reset_index(drop=True)
school_students_passing_math_and_reading = school_students_passing_math_and_reading.apply(pd.Series)
school_students_passing_math_and_reading.columns = ['students_passing_both']

display(school_students_passing_math_and_reading)

                       students_passing_both
school_name
Bailey High School                      2719
Cabrera High School                     1697
Figueroa High School                    1569
Ford High School                        1487
Griffin High School                     1330
Hernandez High School                   2481
Holden High School                       381
Huang High School                       1561
Johnson High School                     2549
Pena High School                         871
Rodriguez High School                   2119
Shelton High School                     1583
Thomas High School                      1487
Wilson High School                      2068
Wright High School                      1626

In [416]:
display(school_students_passing_reading)

              school_name  % Passing Reading
0      Bailey High School               4077
1     Cabrera High School               1803
2    Figueroa High School               2381
3        Ford High School               2172
4     Griffin High School               1426
5   Hernandez High School               3748
6      Holden High School                411
7       Huang High School               2372
8     Johnson High School               3867
9        Pena High School                923
10  Rodriguez High School               3208
11    Shelton High School               1688
12     Thomas High School               1591
13     Wilson High School               2204
14     Wright High School               1739

In [421]:
# Use the provided code to calculate the passing rates

###per_school_passing_math
school_students_passing_math['students_passing_math'] = school_students_passing_math['students_passing_math'].astype(int)
per_school_counts['Total_Students'] = per_school_counts['Total_Students'].astype(int)

#per_school_passing_math
per_school_passing_math = pd.DataFrame(school_students_passing_math['students_passing_math'] / per_school_counts['Total_Students'] * 100)
#per_school_passing_math = pd.concat([per_school_passing_math, df_school_list], axis=1)
#per_school_passing_math.rename(columns={'0': 'students_passing_math'}, inplace=True)
#per_school_passing_math.head()
#display(per_school_passing_math)

###per_school_passing_reading

per_school_passing_reading = pd.DataFrame(school_students_passing_reading['% Passing Reading'] / per_school_counts['Total_Students'] * 100)
#display(per_school_passing_reading)

###overall_passing_rate (number passing students)/(total students)


#(number passing students)/(total students)


#display(school_students_passing_math_and_reading)
#display(per_school_counts)

overall_passing_rate = pd.merge(school_students_passing_math_and_reading, per_school_counts, how="left", on=["school_name", "school_name"])
overall_passing_rate['passing_rate'] = (overall_passing_rate['students_passing_both'] / overall_passing_rate['Total_Students']) * 100



per_school_passing_math = pd.concat([df_school_list, per_school_passing_math ], axis=1)


#per_school_passing_math = per_school_passing_math.reset_index()
cols = ['school_name','% Passing Math']
per_school_passing_math.columns = cols
display(overall_passing_rate)

              school_name  students_passing_both  Total_Students  passing_rate
0      Bailey High School                   2719            4976     54.642283
1     Cabrera High School                   1697            1858     91.334769
2    Figueroa High School                   1569            2949     53.204476
3        Ford High School                   1487            2739     54.289887
4     Griffin High School                   1330            1468     90.599455
5   Hernandez High School                   2481            4635     53.527508
6      Holden High School                    381             427     89.227166
7       Huang High School                   1561            2917     53.513884
8     Johnson High School                   2549            4761     53.539172
9        Pena High School                    871             962     90.540541
10  Rodriguez High School                   2119            3999     52.988247
11    Shelton High School                   1583            1761     89.892107
12     Thomas High School                   1487            1635     90.948012
13     Wilson High School                   2068            2283     90.582567
14     Wright High School                   1626            1800     90.333333

In [413]:
#Rename Columns
column_names = [
'School Name', #OK
'School Type', #OK
'Total Students', #OK
'Total School Budget', #OK
'Per Student Budget', #OK
'Average Math Score', #OK
'Average Reading Score', #OK
'% Passing Math', #OK
'% Passing Reading', #OKS
'% Overall Passing']
#, #OK 'Spending Ranges (Per Student)']

In [432]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.merge(school_types, per_school_counts, how="left", on=["school_name", "school_name"])
per_school_summary = pd.merge(per_school_summary, per_school_combined, how="left", on=["school_name", "school_name"])
per_school_summary = pd.merge(per_school_summary, per_school_math_reading, how="left", on=["school_name", "school_name"])
per_school_summary = pd.merge(per_school_summary, per_school_passing_math, how="left", on=["school_name", "school_name"])
per_school_summary = pd.merge(per_school_summary, school_students_passing_reading, how="left", on=["school_name", "school_name"])
#overall_passing_rate.drop('Total_Students', axis=1, inplace=True)
#overall_passing_rate.drop('students_passing_both', axis=1, inplace=True)
per_school_summary = pd.merge(per_school_summary, overall_passing_rate, how="left", on=["school_name", "school_name"])

###Sort
per_school_summary = per_school_summary.sort_values(by='school_name')

#per_school_summary = pd.concat([school_types, per_school_counts], axis=1)
# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

#per_school_summary.columns = column_names
#display(per_school_summary)

per_school_summary.columns = column_names

# Display the DataFrame
display(per_school_summary)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
7,Bailey High School,District,4976,3124928,1071.281454,77.048432,81.033963,65.683922,4077,54.642283
6,Cabrera High School,Charter,1858,1081356,370.708262,83.061895,83.975780,92.505855,1803,91.334769
1,Figueroa High School,District,2949,1884411,646.009942,76.711767,81.158020,94.133477,2381,53.204476
13,Ford High School,District,2739,1763916,604.702091,77.102592,80.746258,93.867718,2172,54.289887
4,Griffin High School,Charter,1468,917500,314.535482,83.351499,83.816757,93.392371,1426,90.599455
3,Hernandez High School,District,4635,3022020,1036.002743,77.289752,80.934412,68.309602,3748,53.527508
8,Holden High School,Charter,427,248087,85.048680,83.803279,83.814988,66.057551,411,89.227166
0,Huang High School,District,2917,1910635,655.000000,76.629414,81.182722,66.680064,2372,53.513884
12,Johnson High School,District,4761,3094650,1060.901611,77.072464,80.966394,93.272171,3867,53.539172
9,Pena High School,Charter,962,585858,200.842647,83.839917,84.044699,94.594595,923,90.540541
11,Rodriguez High School,District,3999,2547363,873.281796,76.842711,80.744686,93.867121,3208,52.988247
2,Shelton High School,Charter,1761,1056600,362.221460,83.359455,83.725724,65.988471,1688,89.892107
14,Thomas High School,Charter,1635,1043130,357.603702,83.418349,83.848930,93.333333,1591,90.948012
5,Wilson High School,Charter,2283,1319574,452.373672,83.274201,83.989488,66.752967,2204,90.582567
10,Wright High School,Charter,1800,1049400,359.753171,83.682222,83.955000,66.366592,1739,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [435]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858,1081356,370.708262,83.061895,83.975780,92.505855,1803,91.334769
14,Thomas High School,Charter,1635,1043130,357.603702,83.418349,83.848930,93.333333,1591,90.948012
4,Griffin High School,Charter,1468,917500,314.535482,83.351499,83.816757,93.392371,1426,90.599455
5,Wilson High School,Charter,2283,1319574,452.373672,83.274201,83.989488,66.752967,2204,90.582567
9,Pena High School,Charter,962,585858,200.842647,83.839917,84.044699,94.594595,923,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [436]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,3999,2547363,873.281796,76.842711,80.744686,93.867121,3208,52.988247
1,Figueroa High School,District,2949,1884411,646.009942,76.711767,81.158020,94.133477,2381,53.204476
0,Huang High School,District,2917,1910635,655.000000,76.629414,81.182722,66.680064,2372,53.513884
3,Hernandez High School,District,4635,3022020,1036.002743,77.289752,80.934412,68.309602,3748,53.527508
12,Johnson High School,District,4761,3094650,1060.901611,77.072464,80.966394,93.272171,3867,53.539172

## Math Scores by Grade

In [437]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean().reset_index()
tenth_grader_math_scores  = tenth_graders.groupby(["school_name"])["math_score"].mean().reset_index()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean().reset_index()
twelfth_grader_math_scores  = twelfth_graders.groupby(["school_name"])["math_score"].mean().reset_index()

#Put in a column to identify each grade level
ninth_grade_math_scores['grade_level'] = '9th'
tenth_grader_math_scores['grade_level'] = '10th'
eleventh_grader_math_scores['grade_level'] = '11th'
twelfth_grader_math_scores['grade_level'] = '12th'


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.concat([ninth_grade_math_scores, tenth_grader_math_scores, eleventh_grader_math_scores, twelfth_grader_math_scores])

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
display(math_scores_by_grade)

              school_name  math_score grade_level
0      Bailey High School   77.083676         9th
1     Cabrera High School   83.094697         9th
2    Figueroa High School   76.403037         9th
3        Ford High School   77.361345         9th
4     Griffin High School   82.044010         9th
5   Hernandez High School   77.438495         9th
6      Holden High School   83.787402         9th
7       Huang High School   77.027251         9th
8     Johnson High School   77.187857         9th
9        Pena High School   83.625455         9th
10  Rodriguez High School   76.859966         9th
11    Shelton High School   83.420755         9th
12     Thomas High School   83.590022         9th
13     Wilson High School   83.085578         9th
14     Wright High School   83.264706         9th
0      Bailey High School   76.996772        10th
1     Cabrera High School   83.154506        10th
2    Figueroa High School   76.539974        10th
3        Ford High School   77.672316        10th
4     Griffin High School   84.229064        10th
5   Hernandez High School   77.337408        10th
6      Holden High School   83.429825        10th
7       Huang High School   75.908735        10th
8     Johnson High School   76.691117        10th
9        Pena High School   83.372000        10th
10  Rodriguez High School   76.612500        10th
11    Shelton High School   82.917411        10th
12     Thomas High School   83.087886        10th
13     Wilson High School   83.724422        10th
14     Wright High School   84.010288        10th
0      Bailey High School   77.515588        11th
1     Cabrera High School   82.765560        11th
2    Figueroa High School   76.884344        11th
3        Ford High School   76.918058        11th
4     Griffin High School   83.842105        11th
5   Hernandez High School   77.136029        11th
6      Holden High School   85.000000        11th
7       Huang High School   76.446602        11th
8     Johnson High School   77.491653        11th
9        Pena High School   84.328125        11th
10  Rodriguez High School   76.395626        11th
11    Shelton High School   83.383495        11th
12     Thomas High School   83.498795        11th
13     Wilson High School   83.195326        11th
14     Wright High School   83.836782        11th
0      Bailey High School   76.492218        12th
1     Cabrera High School   83.277487        12th
2    Figueroa High School   77.151369        12th
3        Ford High School   76.179963        12th
4     Griffin High School   83.356164        12th
5   Hernandez High School   77.186567        12th
6      Holden High School   82.855422        12th
7       Huang High School   77.225641        12th
8     Johnson High School   76.863248        12th
9        Pena High School   84.121547        12th
10  Rodriguez High School   77.690748        12th
11    Shelton High School   83.778976        12th
12     Thomas High School   83.497041        12th
13     Wilson High School   83.035794        12th
14     Wright High School   83.644986        12th

## Reading Score by Grade

In [438]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
tenth_grader_reading_scores  = tenth_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean().reset_index()

#Put in a column to identify each grade level
ninth_grade_reading_scores['grade_level'] = '9th'
tenth_grader_reading_scores['grade_level'] = '10th'
eleventh_grader_reading_scores['grade_level'] = '11th'
twelfth_grader_reading_scores['grade_level'] = '12th'

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.concat(
    [ninth_grade_reading_scores, 
     tenth_grader_reading_scores, 
     eleventh_grader_reading_scores, 
     twelfth_grader_reading_scores])

# Minor data wrangling
#reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

              school_name  reading_score grade_level
0      Bailey High School      81.303155         9th
1     Cabrera High School      83.676136         9th
2    Figueroa High School      81.198598         9th
3        Ford High School      80.632653         9th
4     Griffin High School      83.369193         9th
5   Hernandez High School      80.866860         9th
6      Holden High School      83.677165         9th
7       Huang High School      81.290284         9th
8     Johnson High School      81.260714         9th
9        Pena High School      83.807273         9th
10  Rodriguez High School      80.993127         9th
11    Shelton High School      84.122642         9th
12     Thomas High School      83.728850         9th
13     Wilson High School      83.939778         9th
14     Wright High School      83.833333         9th
0      Bailey High School      80.907183        10th
1     Cabrera High School      84.253219        10th
2    Figueroa High School      81.408912        10th
3        Ford High School      81.262712        10th
4     Griffin High School      83.706897        10th
5   Hernandez High School      80.660147        10th
6      Holden High School      83.324561        10th
7       Huang High School      81.512386        10th
8     Johnson High School      80.773431        10th
9        Pena High School      83.612000        10th
10  Rodriguez High School      80.629808        10th
11    Shelton High School      83.441964        10th
12     Thomas High School      84.254157        10th
13     Wilson High School      84.021452        10th
14     Wright High School      83.812757        10th
0      Bailey High School      80.945643        11th
1     Cabrera High School      83.788382        11th
2    Figueroa High School      80.640339        11th
3        Ford High School      80.403642        11th
4     Griffin High School      84.288089        11th
5   Hernandez High School      81.396140        11th
6      Holden High School      83.815534        11th
7       Huang High School      81.417476        11th
8     Johnson High School      80.616027        11th
9        Pena High School      84.335938        11th
10  Rodriguez High School      80.864811        11th
11    Shelton High School      84.373786        11th
12     Thomas High School      83.585542        11th
13     Wilson High School      83.764608        11th
14     Wright High School      84.156322        11th
0      Bailey High School      80.912451        12th
1     Cabrera High School      84.287958        12th
2    Figueroa High School      81.384863        12th
3        Ford High School      80.662338        12th
4     Griffin High School      84.013699        12th
5   Hernandez High School      80.857143        12th
6      Holden High School      84.698795        12th
7       Huang High School      80.305983        12th
8     Johnson High School      81.227564        12th
9        Pena High School      84.591160        12th
10  Rodriguez High School      80.376426        12th
11    Shelton High School      82.781671        12th
12     Thomas High School      83.831361        12th
13     Wilson High School      84.317673        12th
14     Wright High School      84.073171        12th

## Scores by School Spending

In [439]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
#labels

In [440]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()
display(school_spending_df)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
7,Bailey High School,District,4976,3124928,1071.281454,77.048432,81.033963,65.683922,4077,54.642283
6,Cabrera High School,Charter,1858,1081356,370.708262,83.061895,83.975780,92.505855,1803,91.334769
1,Figueroa High School,District,2949,1884411,646.009942,76.711767,81.158020,94.133477,2381,53.204476
13,Ford High School,District,2739,1763916,604.702091,77.102592,80.746258,93.867718,2172,54.289887
4,Griffin High School,Charter,1468,917500,314.535482,83.351499,83.816757,93.392371,1426,90.599455
3,Hernandez High School,District,4635,3022020,1036.002743,77.289752,80.934412,68.309602,3748,53.527508
8,Holden High School,Charter,427,248087,85.048680,83.803279,83.814988,66.057551,411,89.227166
0,Huang High School,District,2917,1910635,655.000000,76.629414,81.182722,66.680064,2372,53.513884
12,Johnson High School,District,4761,3094650,1060.901611,77.072464,80.966394,93.272171,3867,53.539172
9,Pena High School,Charter,962,585858,200.842647,83.839917,84.044699,94.594595,923,90.540541
11,Rodriguez High School,District,3999,2547363,873.281796,76.842711,80.744686,93.867121,3208,52.988247
2,Shelton High School,Charter,1761,1056600,362.221460,83.359455,83.725724,65.988471,1688,89.892107
14,Thomas High School,Charter,1635,1043130,357.603702,83.418349,83.848930,93.333333,1591,90.948012
5,Wilson High School,Charter,2283,1319574,452.373672,83.274201,83.989488,66.752967,2204,90.582567
10,Wright High School,Charter,1800,1049400,359.753171,83.682222,83.955000,66.366592,1739,90.333333

In [441]:
# Use `pd.cut` to categorize spending based on the bins.
import pandas as pd

# Assuming school_spending_df is your DataFrame
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create the new column "Spending Ranges (Per Student)"
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget'], bins=spending_bins, labels=labels, include_lowest=True)

# Display the updated DataFrame
display(school_spending_df)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
7,Bailey High School,District,4976,3124928,1071.281454,77.048432,81.033963,65.683922,4077,54.642283,NaN
6,Cabrera High School,Charter,1858,1081356,370.708262,83.061895,83.975780,92.505855,1803,91.334769,<$585
1,Figueroa High School,District,2949,1884411,646.009942,76.711767,81.158020,94.133477,2381,53.204476,$645-680
13,Ford High School,District,2739,1763916,604.702091,77.102592,80.746258,93.867718,2172,54.289887,$585-630
4,Griffin High School,Charter,1468,917500,314.535482,83.351499,83.816757,93.392371,1426,90.599455,<$585
3,Hernandez High School,District,4635,3022020,1036.002743,77.289752,80.934412,68.309602,3748,53.527508,NaN
8,Holden High School,Charter,427,248087,85.048680,83.803279,83.814988,66.057551,411,89.227166,<$585
0,Huang High School,District,2917,1910635,655.000000,76.629414,81.182722,66.680064,2372,53.513884,$645-680
12,Johnson High School,District,4761,3094650,1060.901611,77.072464,80.966394,93.272171,3867,53.539172,NaN
9,Pena High School,Charter,962,585858,200.842647,83.839917,84.044699,94.594595,923,90.540541,<$585
11,Rodriguez High School,District,3999,2547363,873.281796,76.842711,80.744686,93.867121,3208,52.988247,NaN
2,Shelton High School,Charter,1761,1056600,362.221460,83.359455,83.725724,65.988471,1688,89.892107,<$585
14,Thomas High School,Charter,1635,1043130,357.603702,83.418349,83.848930,93.333333,1591,90.948012,<$585
5,Wilson High School,Charter,2283,1319574,452.373672,83.274201,83.989488,66.752967,2204,90.582567,<$585
10,Wright High School,Charter,1800,1049400,359.753171,83.682222,83.955000,66.366592,1739,90.333333,<$585

In [443]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
print("Done")

Done

In [449]:
# Assemble into DataFrame
spending_summary = pd.concat([spending_math_scores, spending_reading_scores, spending_passing_math, spending_passing_reading, overall_passing_spending], axis=1)


# Display results
display(spending_summary)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.473852,83.896421,79.873967,1473.125,90.432244
$585-630,77.102592,80.746258,93.867718,2172.000,54.289887
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,76.670590,81.170371,80.406771,2376.500,53.359180

# Bookmark #

## Scores by School Size

In [450]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
print("Done")

Done

In [453]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(school_spending_df['Total Students'], bins=size_bins, labels=labels, include_lowest=True)
display(per_school_summary)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
7,Bailey High School,District,4976,3124928,1071.281454,77.048432,81.033963,65.683922,4077,54.642283,Large (2000-5000)
6,Cabrera High School,Charter,1858,1081356,370.708262,83.061895,83.975780,92.505855,1803,91.334769,Medium (1000-2000)
1,Figueroa High School,District,2949,1884411,646.009942,76.711767,81.158020,94.133477,2381,53.204476,Large (2000-5000)
13,Ford High School,District,2739,1763916,604.702091,77.102592,80.746258,93.867718,2172,54.289887,Large (2000-5000)
4,Griffin High School,Charter,1468,917500,314.535482,83.351499,83.816757,93.392371,1426,90.599455,Medium (1000-2000)
3,Hernandez High School,District,4635,3022020,1036.002743,77.289752,80.934412,68.309602,3748,53.527508,Large (2000-5000)
8,Holden High School,Charter,427,248087,85.048680,83.803279,83.814988,66.057551,411,89.227166,Small (<1000)
0,Huang High School,District,2917,1910635,655.000000,76.629414,81.182722,66.680064,2372,53.513884,Large (2000-5000)
12,Johnson High School,District,4761,3094650,1060.901611,77.072464,80.966394,93.272171,3867,53.539172,Large (2000-5000)
9,Pena High School,Charter,962,585858,200.842647,83.839917,84.044699,94.594595,923,90.540541,Small (<1000)
11,Rodriguez High School,District,3999,2547363,873.281796,76.842711,80.744686,93.867121,3208,52.988247,Large (2000-5000)
2,Shelton High School,Charter,1761,1056600,362.221460,83.359455,83.725724,65.988471,1688,89.892107,Medium (1000-2000)
14,Thomas High School,Charter,1635,1043130,357.603702,83.418349,83.848930,93.333333,1591,90.948012,Medium (1000-2000)
5,Wilson High School,Charter,2283,1319574,452.373672,83.274201,83.989488,66.752967,2204,90.582567,Large (2000-5000)
10,Wright High School,Charter,1800,1049400,359.753171,83.682222,83.955000,66.366592,1739,90.333333,Medium (1000-2000)

In [456]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

print("Done")

Done

In [458]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.concat([size_math_scores, size_reading_scores, size_passing_math, size_passing_reading, size_overall_passing], axis=1)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,80.326073,667.000,89.883853
Medium (1000-2000),83.374684,83.864438,82.317324,1649.400,90.621535
Large (2000-5000),77.746417,81.344493,80.320880,3003.625,58.286003

## Scores by School Type

In [459]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()
print("Done")

Done

In [460]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.concat([average_math_score_by_type, average_reading_score_by_type, average_percent_passing_math_by_type, average_percent_passing_reading_by_type, average_percent_overall_passing_by_type], axis=1)
# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,79.873967,1473.125000,90.432244
District,76.956733,80.966636,82.259154,3117.857143,53.672208